[% MACRO t(text) BLOCK;
       gettext.get(text);
   END; %]
[% IF last_page AND last_page != 1 %]
<div class="pager">
    <br />
    <label>[% t("Pages") %]:</label>

    [% page = 1 %]

    [% IF current_page != 1 %]
        <span class="page"><a href="dsearch?search=[% search_terms | url %]&page=[% current_page - 1 %]">[% t("Previous") %]</a></span>
    [% ELSE %]
        <span class="page current-page">[% t("Previous") %]</span>
    [% END %]
    |

    [% WHILE page <= last_page %]
        [% IF page == current_page %]
            <span class="page current-page">[% page %]</span>
        [% ELSE %]
            <span class="page"><a href="dsearch?search=[% search_terms | url %]&page=[% page %]">[% page %]</a></span>
        [% END %]
        [% IF page != last_page %]
            |
        [% END %]
        [% page = page + 1 %]
    [% END %]

    |
    [% IF current_page != last_page %]
        <span class="page"><a href="dsearch?search=[% search_terms | url %]&page=[% current_page + 1 %]">[% t("Next") %]</a></span>
    [% ELSE %]
        <span class="page current-page">[% t("Next") %]</span>
    [% END %]
    <br />
</div>
[% END %]
